<h1>New Painting</h1>

  <%= simple_form_for(@painting) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Home', root_path %><br>