<div class="container py-4 py-xl-5" style="background: #93bde4;font-family: Montserrat, sans-serif; margin-top: 20px; margin-bottom: 20px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
  <div class="row row-cols-1">
    <div class="col">
      <div class="col d-flex flex-column justify-content-center p-4">
        <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
          <div class="text-center">
            <%= cl_image_tag(@painting.photo.key, :cloud_name => "dfe5bng4a", width: 800, crop: :scale) %>
            <h3 style="margin-top: 15px;"><strong><%= @painting.name %></strong></h3>
            <p><%= @painting.description %></p>
            <p><i class="fa-solid fa-sterling-sign"><%= @painting.price %></i> per day</p>
            <%= link_to "Rent this Painting", new_painting_booking_path(@painting.id), class: "btn btn-primary", style:"margin-bottom: 0px; margin-top: 0px; font-size: 20px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
