<div class="container py-4 py-xl-5" style="background: #93bde4;font-family: Montserrat, sans-serif; margin-top: 20px; margin-bottom: 20px; border-radius: 10px;">
  <div class="row row-cols-1">
    <div class="col">
    </div>
      <div class="col d-flex flex-column justify-content-center p-4">
        <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
          <div class="text-center">
            <%= cl_image_tag(@painting.photo.key, :cloud_name => "dfe5bng4a", width: 400, height: 300, crop: :fill) %>
            <h3 style="margin-top: 10px;"><%= @painting.name %></h3>
            <p><%= @painting.description %></p>
            <p><i class="fa-solid fa-sterling-sign"><%= @painting.price %></i> per day</p>
            <%= link_to 'Rent this Painting', new_painting_booking_path(@painting.id), class: "btn btn-primary", style:"margin-bottom: 0px;margin-top: 0px;font-size: 18px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
