<div class='container'>
  <h1>Your bookings</h1>
  <div class="container">
    <div class=" card-product container">
      <% @bookings.each do |booking| %>
      <img <%= cl_image_tag(booking.painting.photo.key, :cloud_name => "dfe5bng4a") %>>
        <div class="card-product-infos">
          <li>You have booked the <strong><%= booking.painting.name %></strong> from <strong><%= booking.booking_date.strftime('%A %d %b %Y') %> until <%= booking.return_date.strftime('%A %d %b %Y') %></strong></li>
        </div>
        <%= link_to 'Edit', edit_painting_booking_path(booking.painting.id, booking.id) %>
        <%= link_to 'Delete',
          booking_path(booking.id),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>
</div>
